.page {
  width: 800px;
  margin-left: 1em;
}

.titel{
  letter-spacing: 0.1em
}

.name{
  font-size:40px;
}

body {
  background-color: #e6f4ff;
  color:#003d6b;
  font-family:"Helvetica", "Arial", sans-serif;
  font-size: 24px;
  text-align: left;
}

h1, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  margin-top: 1em;
}

h1 { color:#0066b3;
font-size:60px;
    }

h2 {
  color:#0040FF;
  font-size:40px;
    }

ul {
  list-style-type: disc;
}

.hauptteil{
  line-height: 150%
}

  .button:link {
    display: block;
    text-decoration: none;

    color: #4B088A;
    background-color: #CEECF5;
    padding: 10px;
    text-align: left;
    border: 2px solid #0040FF;
    border-radius: 3px;

    width: 250px;
    }

a:link {
  color: #2E9AFE;
}
a:visited {
  color: #3A01DF;
}
a:hover {
  color: #3ff000;
}
a:active {
  color: #0B6138;
}

a{
  text-decoration: none;
}

/*Zeitstrahl Schulische Laufbahn mit Vorlage von w3schools*/
.timeline {
  position: relative;
  max-width: 750px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #BBE9FC;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -370px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 17px;
  background-color: #D0EFFC;
  border: 4px solid #0040FF;
  top: 22px;
  border-radius: 50%;
  z-index: 1;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #D0EFFC;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D0EFFC transparent transparent;
  
}

.right::after {
  left: -4px;
}
.content {
  padding: 0.5px 10px;
  background-color: #D0EFFC;
  position: relative;
  border-radius: 6px;
}
